.main {
  background: #fff url('../image/bg_1.png') no-repeat right bottom;
}

.crumb {
  width: 100%;
  height: 50px;
  line-height: 60px;
  font-size: 14px;
}

.crumb a {
  color: #a19e98;
}

.crumb span {
  color: #444139;
}

.chronicle {
  width: 100%;
  background: #fff;
  text-align: center;
  position: relative;
}

.chronicle h1 {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 46px;
  font-size: 40px;
  font-weight: normal;
  color: #5f503d;
}

.chronicle ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 720px;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 3;
}

.chronicle li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: auto !important;
  height: 36px;
  min-height: 36px;
  padding: 18px 0;
  font-size: 14px;
  position: relative;
}

.chronicle li div {
  width: 365px;
  height: 31px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 3;
  margin-top: -15px;
}

.chronicle li div span {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 5px 20px;
  color: #bca890;
  background-image: url('../image/icon_4.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/assets/image/icon_4.png', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/assets/image/icon_4.png', sizingMethod='scale');
}

.chronicle li img {
  padding: 7px;
  position: absolute;
  left: 365px;
  top: 50%;
  z-index: 3;
  margin-top: -15px;
}

.chronicle li p {
  float: right;
  display: block;
  width: 280px;
  line-height: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  color: #877764;
  text-align: left;
  background: #f8f6f3;
}

.chronicle .line {
  width: 2px;
  height: 100%;
  background: #877764;
  position: absolute;
  left: 380px;
  top: 0;
  z-index: 2;
}