/* 详细页面 */

.bgfff {
  background-color: #fff;
}

.detail {
  padding: 0 120px 0 88px;
  box-sizing: border-box;
  font-size: 14px;
  color: #202020;
  text-align: left;
}

.detail h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 24px;
}

.detail p {
  line-height: 28px;
  margin-bottom: 24px;
}