header {
  background: #d6c8a8;
}

.right {
  background: #fff;
}

.crumb {
  width: 100%;
  height: 50px;
  line-height: 60px;
  font-size: 14px;
}

.crumb a {
  color: #a19e98;
}

.crumb span {
  color: #444139;
}

.figure {
  width: 100%;
  background: #fff;
}

.figure ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
}

.figure li {
  float: left;
  width: 455px;
  height: 236px;
  margin: 50px 55px 50px 0;
  font-size: 14px;
}

.figure li div {
  float: left;
  width: 135px;
  height: 236px;
  position: relative;
}

.figure li div h1 {
  display: block;
  width: 45px;
  height: 140px;
  line-height: 44px;
  padding: 0 60px 0 30px;
  font-size: 40px;
  font-weight: normal;
  color: #0e0e0e;
  background: url('../image/icon_5.png') no-repeat 72px center;
  overflow: hidden;
}

.figure li div p {
  display: block;
  width: 113px;
  height: 70px;
  line-height: 22px;
  padding: 0 22px 0 0;
  color: #727272;
  overflow: hidden;
}

.figure li div a {
  display: block;
  width: 75px;
  height: 18px;
  line-height: 18px;
  border: solid 1px #454545;
  color: #0e0e0e;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.figure li img {
  float: left;
  width: 320px;
  height: 236px;
}