/* 首页样式 */

body {
  background: #1d242d url('../image/bg_index.png');
}

.top {
  width: 100%;
  height: 923px;
  background: #5e646a;
}

.banner {
  width: 1680px;
  height: 923px;
  margin: 0 auto;
  background: url('../image/banner_index.png') no-repeat right bottom;
  position: relative;
}

.banner ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 510px;
  height: 282px;
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 2;
  margin-top: -141px;
}

.banner ul li {
  float: left;
  width: 102px;
  height: 100%;
}

.banner ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  background-image: url('../image/but_index.png');
  background-repeat: no-repeat;
}

.banner ul li a.b1 {
  background-position: 0px 2px;
}

.banner ul li a.b2 {
  background-position: -103px 2px;
}

.banner ul li a.b3 {
  background-position: -205px 2px;
}

.banner ul li a.b4 {
  background-position: -307px 2px;
}

.banner ul li a.b5 {
  background-position: -409px 2px;
}

.banner ul li a.b1:hover {
  background-position: 0px -298px;
}

.banner ul li a.b2:hover {
  background-position: -103px -298px;
}

.banner ul li a.b3:hover {
  background-position: -205px -298px;
}

.banner ul li a.b4:hover {
  background-position: -307px -298px;
}

.banner ul li a.b5:hover {
  background-position: -409px -298px;
}

.bottom {
  width: 100%;
  height: auto;
  padding: 40px 0;
  border-top: solid 3px #bb9689;
  text-align: center;
}

.bottom img {
  display: block;
  margin: 0 auto;
}

.bottom span {
  display: block;
  line-height: 68px;
  color: #977c74;
}