header {
  background: #eee9e5 !important;
}

.right {
  background: #fff;
}

.content {
  background: #fff url('../image/bg_2.png') no-repeat right bottom;
}

.crumb {
  width: 100%;
  height: 50px;
  line-height: 60px;
  font-size: 14px;
}

.crumb a {
  color: #a19e98;
}

.crumb span {
  color: #444139;
}

.figure {
  width: 100%;
  background: #fff;
}

.institute ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
}

.institute li {
  float: left;
  width: 204px;
  height: 130px;
  margin-top: 32px;
  font-size: 14px;
}

.institute li a,
.institute li a img {
  display: block;
  width: 182px;
  height: 93px;
  position: relative;
}

.institute li a img.border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.institute li span {
  height: 36px;
  line-height: 36px;
  color: #3b3b3b;
}