/* create by zxf*/


/*用于生平事迹的样式*/

.bgfff {
  background-color: #fff;
}

.storys {
  text-align: center;
  padding: 0 120px 0 88px;
  box-sizing: border-box;
}

.storys h2 {
  line-height: 1.5;
  color: #212121;
  font-size: 30px;
  font-weight: normal;
}

.stage {
  margin-top: 20px;
  text-align: left;
}

.stage .li-title {
  font-size: 0;
}

.stage .li-title span {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  color: #6f6049;
  background-size: 100% 100%;
  vertical-align: middle;
}

.stage .li-title .title-left {
  width: 12px;
  background-image: url('../image/border_1_l.png');
}

.stage .li-title .title-right {
  width: 12px;
  background-image: url('../image/border_1_r.png');
}

.stage .li-title .title-middle {
  background-image: url('../image/border_1_c.png');
  background-repeat: repeat-x;
}

.intro-text {
  color: #202020;
  font-size: 14px;
  line-height: 2;
  margin: 20px 0;
}


/*概述发展页面的样式*/

.summarize .li-title span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  color: rgb(32, 32, 32);
  vertical-align: middle;
  background-position: center center;
}

.summarize .li-title .title-left {
  width: 12px;
  background-image: url('../image/border_2_l.png');
  background-repeat: no-repeat;
}

.summarize .li-title .title-right {
  width: 12px;
  background-image: url('../image/border_2_r.png');
  background-repeat: no-repeat;
}

.summarize .li-title .title-middle {
  padding: 0 22px;
  background-image: url('../image/border_2_c.png');
  background-repeat: repeat-x;
}

.summarize .intro-text {
  text-align: left;
}

.summarize .intro-text p {
  text-indent: 2em;
}