/*create by zhxf*/


/*用于图片列表页*/

.list-box {
  margin-top: 10px;
}

.list-box>li {
  float: left;
  width: 226px;
  margin: 0 20px 20px 0;
}

.img-li {
  width: 100%;
  height: 150px;
}

.list-box h3 {
  height: 36px;
  line-height: 36px;
  padding: 0 20px 10px;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
  color: #52524b;
  background-color: #fff;
}


/*印集的样式，图片添加背景*/

.bg-color-box>li {
  background-color: #dbd4cd;
}

.bg-color-box .img-li {
  width: 90px;
  height: 120px;
  margin: 15px auto;
}