/* 公用样式 */

.default_nav {
  margin: 0 auto;
  width: 1200px;
  height: auto !important;
  height: 50px;
  min-height: 50px;
}

.pos_abs {
  position: absolute;
}


/* 头部 */

header {
  width: 100%;
  height: 272px;
  background: url('../image/bg_banner.png');
  position: relative;
}

header.search {
  height: 77px;
  background: #fff;
}

header .banner {
  display: block;
  margin: 0 auto;
}

header .pos_abs {
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 3;
}

header .transparent {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

header.search .transparent {
  background: rgba(0, 0, 0, .4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}

header ul {
  margin-left: 60px;
}

header li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

header li a {
  display: block;
  padding: 26px 32px;
  font-size: 14px;
  font-weight: lighter;
  color: #cecece;
}

header li a:hover,
header li a.current {
  background: url('../image/icon_6.png') no-repeat right center;
  color: #fff;
}

header .search_nav {
  float: right;
  width: 290px;
  height: 30px;
  margin-top: 22px;
  border: solid 1px #bab9b4;
  background: #b3ad9f;
}

header .search_nav .text {
  float: left;
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border: none;
  background: #b3ad9f;
  font-size: 14px;
  color: #494949;
}

header.search .search_nav .text {
  color: #fff;
}

header .search_nav .button {
  float: left;
  width: 38px;
  height: 30px;
  border: none;
  background: #b3ad9f;
  font-size: 14px;
  color: #323232;
  cursor: pointer;
}


/*create by zhxf*/


/*中间内容部分的样式*/

.content {
  background: url('../image/bg_center.png');
}


/*两栏布局的样式*/

.main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.main>div {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

.left {
  float: left;
  width: 146px;
  height: 100%;
  background: url('../image/bg_left.png');
}

.right {
  float: left;
  width: 1022px;
  height: 100%;
  padding-left: 32px;
  padding-bottom: 60px;
  /*-moz-box-sizing: content-box;*/
  /*-webkit-box-sizing: content-box;*/
  /*-o-box-sizing: content-box;*/
  /*-ms-box-sizing: content-box;*/
  /*box-sizing: content-box;*/
}

.wid {
  width: 1168px;
}


/*左边目录的样式*/

.navs {
  padding: 8px 0;
}

.navs>li {
  position: relative;
  line-height: 1;
  cursor: pointer;
  font-size: 16px;
}

.navs>li>div {
  padding: 12px 15px 12px 36px;
}

.navs>.current>div,
.navs>li>div:hover {
  background-color: rgba(184, 163, 143, .22);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
}

.navs a {
  display: block;
  width: 100%;
  line-height: 1.2;
}

.navs a:link,
.navs a:visited,
.navs a:hover,
.navs a:active {
  font-size: 16px;
  color: #444139;
}

.icon-img {
  position: absolute;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  top: 5px;
  *top: 24px;
  left: 2px;
  width: 14px;
  padding: 10px;
}


/*二级目录的样式*/

.sub-nav {
  display: none;
}

.sub-nav ul{
  display: none;
}
.navs .sub-nav  li > a {
  position: relative;
}

.navs .sub-nav>li>a {

  font-size: 14px;
  color: #555;
}

.sub-nav  li > a {
  padding: 10px 10px 10px 36px;
  box-sizing: border-box;
}

.sub-nav>li {
  border-bottom: 1px solid #ece6e2;
}
.sub-nav li a:hover,
.sub-nav  li.current>a {
  background-color: rgba(184, 163, 143, .2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
}
.navs .sub-nav>li li a{
  padding-left: 46px;
  font-size: 12px;
  box-sizing: border-box;
  color: #a4a4a4;
}
.sub-nav img{
  display:inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.sub-nav .icon{
  position: absolute;
  top:14px;
  left:22px;
}


/*footer的样式*/

footer {
  min-width: 1200px;
  width: 100%;
  padding: 36px;
  *padding: 36px 0;
  text-align: center;
  font-size: 12px;
  color: #8b8b89;
  background-color: #e7e7e0;
  box-sizing: border-box;
}

footer>p {
  line-height: 1.5;
}


/*面包屑导航的样式*/

.crumb {
  width: 100%;
  height: 50px;
  line-height: 60px;
  font-size: 14px;
  color: #444139;
}

.crumb a {
  color: #a19e98;
}