/*create by zxf*/


/*用于搜索结果页面*/

.content {
  background: none;
}

.right {
  padding: 0 276px 60px 186px;
  box-sizing: border-box;
  *width: 714px;
}

.result-num {
  margin-top: 20px;
  font-size: 12px;
  color: #b2b2b2;
}

.key-word {
  margin-top: 22px;
  font-size: 12px;
  color: #b2b2b2;
}

.key-word>a {
  color: #714720;
  text-decoration: underline;
  margin-right: 16px;
}


/*搜索列表*/

.result {
  margin-top: 18px;
  padding-bottom: 60px;
}

.result>li {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.result .title {
  font-size: 16px;
  line-height: 1.2;
}

.result .title>a {
  color: #714720;
  text-decoration: underline;
}

.context {
  overflow: hidden;
  margin-top: 20px;
}

.context>img {
  float: left;
  margin-right: 16px;
}

.context p {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 12px;
  color: #252525;
}

.context .tags {
  color: rgb(37, 37, 37);
  opacity: 0.6;
  filter: Alpha(opacity=60);
  *height: 20px;
}

.text {
  max-height: 36px;
  overflow: hidden;
  line-height: 1.5;
}